.list-container {
  border-radius: 10px;
  list-style: none;
  width: 600px;
  padding: 10px 20px;
  background-color: #272727;
  color: white;
  margin-top: 20px;
}

.list-container img {
  height: 50px;
}
.logo-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.title {
  font-size: 20px;
  margin-bottom: 3px;
}
.rating {
  margin-top: 0px;
  gap: 10px;
}
.emplyment-Type {
  display: flex;
  gap: 30px;
}
.description {
  border-top: 1px solid lightgray;
  margin-bottom: 20px;
}

.description h1 {
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0;
  font-size: 20px;
}
.description p {
  margin: 0;
  padding: 0;
}
.emplyment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-link {
  text-decoration: none;
}
